.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    width: 90%;
    padding: 20px;

    background-color: aliceblue;
    border: solid 3px #d21616;
}

.logo{
    height: 30px;
}

.book-catalog {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 800px;
    padding: 20px;
    background-color: beige;
    border: solid 3px #444444;
    justify-content: space-between;
    margin-top: 20px;
}

.book-catalog-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 300px;
    padding: 10px;

    background-color: burlywood;
    border: solid 3px #d21616;
}

.book-catalog-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
}

.book-catalog-item-img {
    width: 100%;
}

/* .button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.button-info {
    height: 30px;
    width: 150px;

    align-self: center;

    margin-bottom: 10px;
}

.button-close {
    height: 30px;
    width: 150px;

    align-self: center;

    margin-bottom: 10px;
}

.button-buy {
    height: 30px;
    width: 150px;

    align-self: center;

    margin-bottom: 10px;
}

.book-catalog-item-content-info {
    display: none;
}

.book-catalog-item-content-info.active {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: 300px;
    padding: 10px;

    background-color: burlywood;
    border: solid 3px #540bda;
    z-index: 10;
}


.shopping-cart {
    height: 100%;
    width: 90%;
    padding: 20px;

    border: solid 3px #111111;
    background-color:darksalmon;

    padding: 20px;
    margin-top: 20px;
}

.footer {
    width: 90%;
    height: 50px;

    background-color: bisque;
    border: solid 3px #111111;
    
    padding: 20px;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 75%;
}
